* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
}


button {
  &.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
  }
  &.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
  }
}

.home-menu {
  background: #2d3e50;
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
  }
}

.splash-container {
  background: #1f8dd6;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  position: fixed;
}
.splash {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
}

.splash-input {
  color: white;
  padding: 10px;
  background: transparent;
  border: 3px solid #c9c9c9;
  border-radius: 5px;
  transition: border 0.3s;
  width: 100%;
  &:focus {
    border: 3px solid white;
    box-shadow: none;
    outline: none;
  }
}

.json {
  color: white;
  letter-spacing: 0.05em;
  text-align: left
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
    .home-menu {
      text-align: left;
      ul {
        float: right;
      }
    }
    .splash {
      width: 50%;
      height: 50%;
    }
    .splash-head {
      font-size: 250%;
    }
  }

}

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
}
